# Core analysis and data handling
anndata
h5py
numpy<2.0.0
pandas
scanpy

# Machine learning and optimization
joblib
scikit-learn
scikit-misc
scikit-optimize

# Single-cell specific tools
celltypist
harmonypy
umap-learn

# Plotting and utilities
matplotlib
seaborn
session-info
tqdm
